.container {
    height: 100vh;
}

.row {
    width: 100%;
    float: left;
    clear: both;
}

.column {
    float: left;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    color: white;
}

.half, .two-quarters, .three-sixths, four-eighths {
    width: 50%;
    float: left;
    /*background-color: red;*/
}

.offset-half {
    margin-left: 50%;
}

.third, .two-sixths {
    width: 33.3333333333%;
    float: left;
    /*background-color: orange;*/
}

.offset-third {
    margin-left: 33.3333333333%;
}

.quarter, .two-eighths {
    width: 25%;
    float: left;
    /*background-color: yellow;*/
}

.offset-quarter {
    margin-left: 25%;
}

.sixth {
    width: 16.6666666666%;
    float: left;
    /*background-color: green;*/
}

.offset-sixth {
    margin-left: 16.6666666666%;
}

.eighth {
    width: 12.5%;
    float: left;
    /*background-color: blue;*/
}

.three-eighths {
    width: 37.5%;
    float: left;
}

.five-eighths {
    width: 62.5%;
    float: left;
}

.offset-eighth {
    margin-left: 12.5%;
}

span {
    vertical-align: middle;
}