/*body {
    padding: 10px;
    font-family: Arial;
}

h2 {
    margin: 10px 0px;
}

.main {
    margin-bottom: 30px;
}

footer p {
    float: left;
}

footer img {
    float: right;
    margin: 13.25px 2px;
    width: 7%;
}*/

.lg-screen {
    display: none;
}

.sm-screen {
    display: block;
}

h1, nav, .hidden-on-mobile {
    text-align: center;
}

img {
    margin: auto;
    width: 100%;
}

a>img {
    width: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links>li {
    padding: 10px 0;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert-info {
    background-color: turquoise;
    border: 2px solid gray;
    text-align: center;
    padding: 10px 0;
}

.alert-info>a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

.sub-section>h2 {
    font-style: italic;
}

.header-img {
    margin-top: 20px;
}

.page-footer>p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .sm-screen {
        display: none;
    }

    .lg-screen {
        display: block;
    }

    h1 {
        text-align: left;
    }

    .nav-links>li {
        padding: 10px 0;
        background-color: transparent;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .page-footer {
        margin-top: 100px;
        width: 100%;
        float: left;
    }

    .page-footer>a {
        float: right;
        width: 3%;
        margin-right: 5px;
    }
}