.grid {
    width: 10px;
    height: 10px;
    float: left;
    margin: 0;
}

div#game {
    width: 100%;
    height: 100%;
}

#score, #reset {
    float: left;
    margin: 10px;
}

.border {
    background-color: gray;
}

.grid:nth-child(100n+1) {
    clear: left;
}