@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


.fancy-header {
    color: #0F0A0A; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

body {
    color: #BDBF09;
    font-family: 'Ubuntu', sans-serif, Arial;
    background-color: #F5EFED;
    background-image: url("../img/pexels-photo-242236.jpeg");
    background-size: contain;
    background-origin: content-box;
    margin: auto 15%;
}

h1, h2, h3 {
    color: #2292A4;
    font-family: 'Slabo 27px', serif, "Times New Roman";
    text-decoration: underline;
}

table {
    margin: 0 20%;
    text-align: center;
}

#disclaimer {
    margin: 0 20%;
}

img {
    width: 40%;
}

ul {
    list-style: circle;
}

ol {
    list-style: hiragana-iroha;
}

td, th {
    padding: 10px;
    margin: 0px !important;
    text-align: center;
}

th {
    border: 3px solid #2292A4;
    font-size: 1.5em;
}

td {
    border: 1px solid #2292A4;
}

a:link {
    color: #D96C06;
}

a:visited {
    color: #E97C16;
}

a:hover {
    color: #C95C00;
    font-size: 2em;
}

a:active {
    color: #BDBF09;
}